* {margin: 0; padding: 0;}
/* .line-seed-jp-regular {
  font-family: "LINE Seed JP", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

body {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: "LINE Seed JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: radial-gradient(circle, rgb(14, 21, 38) 60%, transparent 20%);
  background-size: 10px 10px;
}

/****************   Nav Section **********************/
nav {
  display: flex;
	background-color: rgb(0, 242, 255);
  color: rgb(0, 0, 0);
  /* border-color: rgb(0, 73, 200); */
  border-bottom: 10px solid rgb(0, 73, 200);
  border-left: 10px solid rgb(21, 48, 96);
  border-right: 10px solid rgb(21, 48, 96);
  padding: 1%;
  justify-content: space-between;
}

/***********************  Footer Section   **************************/
footer {
	display: flex;
	background-color: rgb(0, 242, 255);
  color: rgb(0, 0, 0);
  border-top: 10px solid;
  border-bottom: 10px solid;
  border-width: 10px solid;
  border-color: rgb(0, 73, 200);
  border-radius: 50%;
  padding: 1%;
  justify-content: center;
}

/*********** Splash Page ************************/
header {
  display: flex;
  align-items: center;
  flex-flow: wrap column;
  background-color: rgb(11, 37, 82);
  padding: 1%;
  gap: 20px;
  border-radius: 50%;
  border: 10px inset rgb(0, 242, 255);
  background-image: radial-gradient(circle, #0e0150 20%, transparent 20%);
  background-size: 40px 40px;
}

header h1 {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  color: #FFF;
}

header img {
  border-radius: 50%;
  border: 10px ridge;
}

.address {
 display: flex;
 justify-content: center;
 padding: 1%;
 text-decoration: underline;
}

.tagline {
  display: flex;
  padding: 1%;
  justify-content: center;
  font-style: italic;
}

/************* Sections ********************/
hr {
  border: 4px double rgb(255, 255, 255);
}

section h2 {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: #FFF;
  padding: 10px 1px 0px 20px;
  text-decoration: underline;
}

section h3 {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  padding: 10px 1px 0px 20px;
  text-decoration: underline;
  /* font-size: 70px; */
  color: #000;
}

section dl {
  display: grid;
  gap: 10%;
	grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0% 1% 4% 1%;
}

section ul {
  list-style-type: none;
  padding-left: 2%;
}

section ul li {
  padding: 5px 0 5px 20px;
  background-image: url(../images/gmc_headshot.jpeg); 
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: left center;
}

section a {
  color: rgb(0, 242, 255);
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1% 1% 1% 1%;
  justify-content: space-around;
  justify-items: center;
  text-align: center;
  gap: 10px;
}

.card img {
  width: 90%;
  padding: 4% 1% 4% 1%;
}

.card {
  color: black;
  background-color: rgba(0, 242, 255, 0.655);
  width: 90%;
  display: block;
  border: rgb(0, 73, 200) solid 5px;
  list-style-position: inside;
  /* text-align: left; */
  justify-items: center;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.618), 0 6px 20px 0 rgba(183, 183, 183, 0.19);
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      font-size: 25px;
      flex-direction: column;   
      display: block; width: 100%;
      padding-top: 1%;
      padding-left: 3%;
      padding-bottom: 3%;
      padding-right: 3%;
      /* gap: 30px; */
      justify-items: center;
    }

    .three-col {
      grid-template-columns: 1fr;
      gap: 10px;
    }
}

/**************   Contact Page   *****************/
.one-col {
  line-height: 3;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1% 1% 1% 1%;
}

input {  
  display: block;
  color: black;
  width: 20%; /* or a fixed pixel value, e.g., 300px */
  margin: 0 auto;
  padding: 1% 1% 1% 1%;
  background-color: rgb(255, 255, 255);
  width: 30%;
  display: block;
  border: rgb(0, 73, 200) solid 5px;
  /* justify-items: center; */
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.618), 0 6px 20px 0 rgba(183, 183, 183, 0.19);
}

textarea {
  display: block;
  padding: 1% 1% 1% 1%;
  color: black;
  width: 20%; /* or a fixed pixel value, e.g., 300px */
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  width: 90%;
  display: block;
  border: rgb(0, 73, 200) solid 5px;
  list-style-position: inside;
  /* text-align: left; */
  /* justify-items: center; */
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.618), 0 6px 20px 0 rgba(183, 183, 183, 0.19);
}